.card {
  margin: auto;
}

.card-circle-drawer {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    margin: auto auto 10px;

    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

svg {
  border: 1px solid #000;

  &.disabled {
    pointer-events: none;
  }

  ::ng-deep {
    circle:hover,
    circle.selected {
      fill: gray;
    }
  }
}

.card-circle-drawer-content {
  position: relative;

  &__form {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #000;
    box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16),
                0 3px 6px hsla(0, 0%, 0%, 0.23);
    bottom: 32px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 16px);
  }

  &__close-button {
    background-color: black;
    color: white;
    text-align: left;
  }

  &__radio-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}

