<div class="card">
  <div class="card-body">
    <h5 class="card-title">Timer</h5>
    <div class="card-timer__container">
      <div>
        Elapsed Time:
        <progress class="card-timer__progress" max="100" [value]="activeTime / duration * 100">70%</progress> 
      </div>
      <div>{{ activeTime }}s</div>
      <div>
        Duration:
        <input class="card-timer__duration" max="100" min="0" step="1" type="range" 
               [ngModel]="duration" (ngModelChange)="onDurationChanged($event)"> 
      </div>
      <button class="card-timer__reset" (click)="onReset()">RESET</button>
    </div>
  </div>
</div>